img {
    display: block;
    width: 100%;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-inner {
        width: 200px;
    }

    @include media(sp){
        background-color: red;
    }
}
